.hourly{
    overflow:auto;
    white-space:nowrap;
    height:200px;
}

.hourlyItem{
    display:inline-block;
    height:100%;
    width: 200px;
    text-align:center;
    border: 2px solid black;
    margin-left: -2px;
}

.dailyItem{
    display:inline-block;
    height:100%;
    width: 200px;
    text-align:center;
}

.sevenDay{
    display: none;
    overflow:auto;
    white-space:nowrap;
    height:200px;
}

.divider{
    display: none;
    position: relative;
    top: -30px;
    height:150px;
    width:2px;
    background-color:black;
}

.itemSpacer{
    margin-left: 2px;
    display:inline;
}

.scrollableWeather{
    height: 200px;
}